<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/admin/get_zhanzi',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID'},
                {field: 'contractNum', width: 80, title: '合同号'},
                {field: 'partA', width: 110, title: '甲方'},
                {field: 'helpA', width: 80, title: '乙方'},
                {field: 'helpB', width: 80, title: '项目'},
                {field: 'oldOrNew', title: '新/老', width: 80},
                {field: 'orderName', width: 80, title: '签订人'},
                {field: 'followName', width: 80, title: '跟进人'},
                {field: 'contractCost', width: 135, title: '合同金额'},
                {field: 'helpComp', width: 80, title: '协作方'},
                {field: 'closeTime', width: 135, title: '关闭时间'},
                {field: 'calXiaohua', width: 140, title: '检测预计消化时间'},
                {field: 'getDate', width: 135, title: '检测采样日期'},
                {field: 'needTime', width: 140, title: '体检预计消化时间'},
                {field: 'bodyCheckTime', width: 135, title: '体检安排日期'},
                {field: 'bodyType', width: 80, title: '方式'},
                {field: 'personNum', width: 80, title: '人数'},
                {field: 'alreadyOpen1', width: 80, title: '已开'},
                {field: 'notOpen', width: 80, title: '未开'},
                {field: 'notGet', width: 80, title: '未收款'},
                {field: 'getMon1', width: 140, title: '到账1'},
                {title: '操作', width: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加合同',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/add1.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/admin/edit_1',
                    success : function(layero, index) {
                        var body=layer.getChildFrame('body',index);
                        body.find("#temp_id").val(data.id);
                        body.find("#hetonghao").val(data.contractNum);
                        body.find("#jiafang").val(data.partA);
                        body.find("#yifang").val(data.partB);
                        body.find("#item").val(data.item);
                        body.find("input[name=age][value=新]").attr("checked", data.oldOrNew == "新" ? true : false);
                        body.find("input[name=age][value=老]").attr("checked", data.oldOrNew == "老" ? true : false);
                        body.find("#people").val(data.orderName);
                        body.find("#foller").val(data.followName);
                        body.find("#cost").val(data.contractCost);
                        body.find("#closeTime").val(data.closeTime);
                        body.find("#help_comp").val(data.helpComp);
                        body.find("#calXiaohua").val(data.calXiaohua);
                        body.find("#getDate").val(data.getDate);
                        body.find("#needTime").val(data.needTime);
                        body.find("#bodyCheckTime").val(data.bodyCheckTime);
                        body.find("#bodyType").val(data.bodyType);
                        body.find("#personNum").val(data.personNum);
                        body.find("#alreadyOpen").val(data.alreadyOpen1);
                        body.find("#notGet").val(data.notGet);
                        body.find("#notOpen").val(data.notOpen);
                        body.find("#alreadyGet").val(data.getMon1);


                    }
                });

                $(window).on("resize", function () {
                    layer.full(index);

                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url:"/admin/del_zz/"+data.id,
                        type:"get",
                        success:function(res){
                            setTimeout(function(){
                                top.layer.close(index);
                                top.layer.msg("删除成功");
                                layer.closeAll("iframe");
                                //刷新父页面
                                parent.location.reload();
                            },500);
                        }
                    })
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>